.birdAssets, .birdAssets2 {
  z-index: 10;
}
.birdAssets .birds .bird, .birdAssets2 .birds .bird {
  background-size: 12vh auto;
  background-repeat: no-repeat;
  width: 12vh;
  height: 12vh;
  position: absolute;
}
.birdAssets .birds .box, .birdAssets2 .birds .box {
  background-repeat: no-repeat;
  background-size: auto 8vh;
  width: 16vh;
  height: 8vh;
  position: absolute;
}

.bird1 {
  background-image: url("../images/bird.gif");
  left: calc(114vw + 2700px);
  bottom: 56vh;
  animation: rotate1 72s linear infinite;
}

.box1 {
  bottom: 56vh;
  left: calc(114vw + 2700px);
  background-image: url("../images/flags/css.gif");
  animation: boxRotate1 72s linear infinite;
}

@keyframes rotate1 {
  100% {
    left: calc(114vw + 2700px);
    bottom: 56vh;
  }
  50% {
    left: calc(114vw + 2700px + 7vw);
    bottom: 69vh;
  }
  0% {
    left: calc(114vw + 2700px);
    bottom: 56vh;
  }
}
@keyframes boxRotate1 {
  100% {
    left: calc(114vw + 2700px - 7.5vw);
    bottom: 56vh;
  }
  50% {
    left: calc(114vw + 2700px - 7.5vw + 7vw);
    bottom: 69vh;
  }
  0% {
    left: calc(114vw + 2700px - 7.5vw);
    bottom: 56vh;
  }
}
.bird2 {
  background-image: url("../images/bird.gif");
  left: calc(121vw + 2700px);
  bottom: 50vh;
  animation: rotate2 74s linear infinite;
}

.box2 {
  bottom: 50vh;
  left: calc(121vw + 2700px);
  background-image: url("../images/flags/html.gif");
  animation: boxRotate2 74s linear infinite;
}

@keyframes rotate2 {
  100% {
    left: calc(121vw + 2700px);
    bottom: 50vh;
  }
  50% {
    left: calc(121vw + 2700px - 16vw);
    bottom: 49vh;
  }
  0% {
    left: calc(121vw + 2700px);
    bottom: 50vh;
  }
}
@keyframes boxRotate2 {
  100% {
    left: calc(121vw + 2700px - 7.5vw);
    bottom: 50vh;
  }
  50% {
    left: calc(121vw + 2700px - 7.5vw - 16vw);
    bottom: 49vh;
  }
  0% {
    left: calc(121vw + 2700px - 7.5vw);
    bottom: 50vh;
  }
}
.bird3 {
  background-image: url("../images/bird.gif");
  left: calc(121vw + 2700px);
  bottom: 74vh;
  animation: rotate3 37s linear infinite;
}

.box3 {
  bottom: 74vh;
  left: calc(121vw + 2700px);
  background-image: url("../images/flags/js.gif");
  animation: boxRotate3 37s linear infinite;
}

@keyframes rotate3 {
  100% {
    left: calc(121vw + 2700px);
    bottom: 74vh;
  }
  50% {
    left: calc(121vw + 2700px + 20vw);
    bottom: 82vh;
  }
  0% {
    left: calc(121vw + 2700px);
    bottom: 74vh;
  }
}
@keyframes boxRotate3 {
  100% {
    left: calc(121vw + 2700px - 7.5vw);
    bottom: 74vh;
  }
  50% {
    left: calc(121vw + 2700px - 7.5vw + 20vw);
    bottom: 82vh;
  }
  0% {
    left: calc(121vw + 2700px - 7.5vw);
    bottom: 74vh;
  }
}
.bird4 {
  background-image: url("../images/bird.gif");
  left: calc(107vw + 2700px);
  bottom: 68vh;
  animation: rotate4 75s linear infinite;
}

.box4 {
  bottom: 68vh;
  left: calc(107vw + 2700px);
  background-image: url("../images/flags/laravel.gif");
  animation: boxRotate4 75s linear infinite;
}

@keyframes rotate4 {
  100% {
    left: calc(107vw + 2700px);
    bottom: 68vh;
  }
  50% {
    left: calc(107vw + 2700px + 16vw);
    bottom: 76vh;
  }
  0% {
    left: calc(107vw + 2700px);
    bottom: 68vh;
  }
}
@keyframes boxRotate4 {
  100% {
    left: calc(107vw + 2700px - 7.5vw);
    bottom: 68vh;
  }
  50% {
    left: calc(107vw + 2700px - 7.5vw + 16vw);
    bottom: 76vh;
  }
  0% {
    left: calc(107vw + 2700px - 7.5vw);
    bottom: 68vh;
  }
}
.bird5 {
  background-image: url("../images/bird.gif");
  left: calc(163vw + 2700px);
  bottom: 32vh;
  animation: rotate5 54s linear infinite;
}

.box5 {
  bottom: 32vh;
  left: calc(163vw + 2700px);
  background-image: url("../images/flags/reactJS.gif");
  animation: boxRotate5 54s linear infinite;
}

@keyframes rotate5 {
  100% {
    left: calc(163vw + 2700px);
    bottom: 32vh;
  }
  50% {
    left: calc(163vw + 2700px + 18vw);
    bottom: 46vh;
  }
  0% {
    left: calc(163vw + 2700px);
    bottom: 32vh;
  }
}
@keyframes boxRotate5 {
  100% {
    left: calc(163vw + 2700px - 7.5vw);
    bottom: 32vh;
  }
  50% {
    left: calc(163vw + 2700px - 7.5vw + 18vw);
    bottom: 46vh;
  }
  0% {
    left: calc(163vw + 2700px - 7.5vw);
    bottom: 32vh;
  }
}
.bird6 {
  background-image: url("../images/bird.gif");
  left: calc(135vw + 2700px);
  bottom: 80vh;
  animation: rotate6 58s linear infinite;
}

.box6 {
  bottom: 80vh;
  left: calc(135vw + 2700px);
  background-image: url("../images/flags/sass.gif");
  animation: boxRotate6 58s linear infinite;
}

@keyframes rotate6 {
  100% {
    left: calc(135vw + 2700px);
    bottom: 80vh;
  }
  50% {
    left: calc(135vw + 2700px + 9vw);
    bottom: 82vh;
  }
  0% {
    left: calc(135vw + 2700px);
    bottom: 80vh;
  }
}
@keyframes boxRotate6 {
  100% {
    left: calc(135vw + 2700px - 7.5vw);
    bottom: 80vh;
  }
  50% {
    left: calc(135vw + 2700px - 7.5vw + 9vw);
    bottom: 82vh;
  }
  0% {
    left: calc(135vw + 2700px - 7.5vw);
    bottom: 80vh;
  }
}
.bird7 {
  background-image: url("../images/bird.gif");
  left: calc(128vw + 2700px);
  bottom: 26vh;
  animation: rotate7 35s linear infinite;
}

.box7 {
  bottom: 26vh;
  left: calc(128vw + 2700px);
  background-image: url("../images/flags/php.gif");
  animation: boxRotate7 35s linear infinite;
}

@keyframes rotate7 {
  100% {
    left: calc(128vw + 2700px);
    bottom: 26vh;
  }
  50% {
    left: calc(128vw + 2700px - 11vw);
    bottom: 26vh;
  }
  0% {
    left: calc(128vw + 2700px);
    bottom: 26vh;
  }
}
@keyframes boxRotate7 {
  100% {
    left: calc(128vw + 2700px - 7.5vw);
    bottom: 26vh;
  }
  50% {
    left: calc(128vw + 2700px - 7.5vw - 11vw);
    bottom: 26vh;
  }
  0% {
    left: calc(128vw + 2700px - 7.5vw);
    bottom: 26vh;
  }
}
.bird8 {
  background-image: url("../images/bird.gif");
  left: calc(121vw + 2700px);
  bottom: 56vh;
  animation: rotate8 77s linear infinite;
}

.box8 {
  bottom: 56vh;
  left: calc(121vw + 2700px);
  background-image: url("../images/flags/mysql.gif");
  animation: boxRotate8 77s linear infinite;
}

@keyframes rotate8 {
  100% {
    left: calc(121vw + 2700px);
    bottom: 56vh;
  }
  50% {
    left: calc(121vw + 2700px + 3vw);
    bottom: 61vh;
  }
  0% {
    left: calc(121vw + 2700px);
    bottom: 56vh;
  }
}
@keyframes boxRotate8 {
  100% {
    left: calc(121vw + 2700px - 7.5vw);
    bottom: 56vh;
  }
  50% {
    left: calc(121vw + 2700px - 7.5vw + 3vw);
    bottom: 61vh;
  }
  0% {
    left: calc(121vw + 2700px - 7.5vw);
    bottom: 56vh;
  }
}
.bird21 {
  background-image: url("../images/bird2.gif");
  left: calc(156vw + 4200px);
  bottom: 56vh;
  animation: rotate21 53s linear infinite;
}

.box21 {
  bottom: 56vh;
  left: calc(156vw + 4200px);
  animation: boxRotate21 53s linear infinite;
  background-image: url("../images/flags/sb.gif");
}

@keyframes rotate21 {
  100% {
    left: calc(156vw + 4200px);
    bottom: 56vh;
  }
  50% {
    left: calc(156vw + 4200px - 4vw);
    bottom: 66vh;
    transform: scale(0.8);
  }
  0% {
    left: calc(156vw + 4200px);
    bottom: 56vh;
  }
}
@keyframes boxRotate21 {
  100% {
    left: calc(156vw + 4200px - 7.5vw);
    bottom: 56vh;
  }
  50% {
    left: calc(156vw + 4200px - 7.5vw - 4vw);
    bottom: 66vh;
  }
  0% {
    left: calc(156vw + 4200px - 7.5vw);
    bottom: 56vh;
  }
}
.bird22 {
  background-image: url("../images/bird2.gif");
  left: calc(148vw + 4200px);
  bottom: 50vh;
  animation: rotate22 67s linear infinite;
}

.box22 {
  bottom: 50vh;
  left: calc(148vw + 4200px);
  animation: boxRotate22 67s linear infinite;
  background-image: url("../images/flags/laragon.gif");
}

@keyframes rotate22 {
  100% {
    left: calc(148vw + 4200px);
    bottom: 50vh;
  }
  50% {
    left: calc(148vw + 4200px + 14vw);
    bottom: 64vh;
    transform: scale(0.8);
  }
  0% {
    left: calc(148vw + 4200px);
    bottom: 50vh;
  }
}
@keyframes boxRotate22 {
  100% {
    left: calc(148vw + 4200px - 7.5vw);
    bottom: 50vh;
  }
  50% {
    left: calc(148vw + 4200px - 7.5vw + 14vw);
    bottom: 64vh;
  }
  0% {
    left: calc(148vw + 4200px - 7.5vw);
    bottom: 50vh;
  }
}
.bird23 {
  background-image: url("../images/bird2.gif");
  left: calc(140vw + 4200px);
  bottom: 50vh;
  animation: rotate23 34s linear infinite;
}

.box23 {
  bottom: 50vh;
  left: calc(140vw + 4200px);
  animation: boxRotate23 34s linear infinite;
  background-image: url("../images/flags/ps.gif");
}

@keyframes rotate23 {
  100% {
    left: calc(140vw + 4200px);
    bottom: 50vh;
  }
  50% {
    left: calc(140vw + 4200px + 9vw);
    bottom: 61vh;
    transform: scale(0.8);
  }
  0% {
    left: calc(140vw + 4200px);
    bottom: 50vh;
  }
}
@keyframes boxRotate23 {
  100% {
    left: calc(140vw + 4200px - 7.5vw);
    bottom: 50vh;
  }
  50% {
    left: calc(140vw + 4200px - 7.5vw + 9vw);
    bottom: 61vh;
  }
  0% {
    left: calc(140vw + 4200px - 7.5vw);
    bottom: 50vh;
  }
}
.bird24 {
  background-image: url("../images/bird2.gif");
  left: calc(172vw + 4200px);
  bottom: 38vh;
  animation: rotate24 46s linear infinite;
}

.box24 {
  bottom: 38vh;
  left: calc(172vw + 4200px);
  animation: boxRotate24 46s linear infinite;
  background-image: url("../images/flags/vscode.gif");
}

@keyframes rotate24 {
  100% {
    left: calc(172vw + 4200px);
    bottom: 38vh;
  }
  50% {
    left: calc(172vw + 4200px + 7vw);
    bottom: 43vh;
    transform: scale(0.8);
  }
  0% {
    left: calc(172vw + 4200px);
    bottom: 38vh;
  }
}
@keyframes boxRotate24 {
  100% {
    left: calc(172vw + 4200px - 7.5vw);
    bottom: 38vh;
  }
  50% {
    left: calc(172vw + 4200px - 7.5vw + 7vw);
    bottom: 43vh;
  }
  0% {
    left: calc(172vw + 4200px - 7.5vw);
    bottom: 38vh;
  }
}
.bird25 {
  background-image: url("../images/bird2.gif");
  left: calc(148vw + 4200px);
  bottom: 62vh;
  animation: rotate25 38s linear infinite;
}

.box25 {
  bottom: 62vh;
  left: calc(148vw + 4200px);
  animation: boxRotate25 38s linear infinite;
  background-image: url("../images/flags/github.gif");
}

@keyframes rotate25 {
  100% {
    left: calc(148vw + 4200px);
    bottom: 62vh;
  }
  50% {
    left: calc(148vw + 4200px + 15vw);
    bottom: 69vh;
    transform: scale(0.8);
  }
  0% {
    left: calc(148vw + 4200px);
    bottom: 62vh;
  }
}
@keyframes boxRotate25 {
  100% {
    left: calc(148vw + 4200px - 7.5vw);
    bottom: 62vh;
  }
  50% {
    left: calc(148vw + 4200px - 7.5vw + 15vw);
    bottom: 69vh;
  }
  0% {
    left: calc(148vw + 4200px - 7.5vw);
    bottom: 62vh;
  }
}/*# sourceMappingURL=birds.css.map */