* {
  padding: 0;
  margin: 0;
  font-family: "8-bit_arcade_inmedium";
  box-sizing: border-box;
}

:root {
  --doc-height: 100%;
}

.scrollLeftLoc {
  z-index: 99;
  position: fixed;
  top: 10%;
}

html,
body {
  max-height: 100vh;
  min-height: 100vh;
  max-height: var(--doc-height);
  min-height: var(--doc-height);
  height: var(--doc-height);
}

.swipeArea {
  visibility: hidden;
  z-index: 99;
  height: 100%;
  height: var(--doc-height);
  width: 25%;
  background-color: white;
  border-radius: 5% 0 0 5%;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  animation: blinker 1s infinite linear;
}

.avatar {
  position: fixed;
  top: 62%;
  left: 10%;
  width: 20%;
  height: 20%;
  z-index: 999;
}
.avatar .model {
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-attachment: local;
  width: 50%;
  height: 100%;
}
.avatar .model:hover {
  cursor: pointer;
}
.avatar .left {
  transform: scaleX(-1);
}
.avatar .right {
  transform: scaleX(1);
}
.avatar .idle {
  background-image: url("../images/cat.gif");
}
.avatar .walking {
  background-image: url("../images/walkingCat.gif");
}
.avatar .meowning {
  background-image: url("../images/meow.gif");
}
.avatar .end {
  background-image: url("../images/meow.gif");
}

.nightMode {
  position: fixed;
  top: 10%;
  left: 20%;
  font-size: 15vh;
  z-index: 4;
}
.nightMode .sun {
  color: yellow;
}
.nightMode .moon {
  color: aliceblue;
}

.sticky-parent {
  height: calc(2400vw + 100vh);
}
.sticky-parent .sticky {
  position: sticky;
  top: 0;
  bottom: 0;
  max-height: 100%;
  max-height: var(--doc-height);
  height: 100%;
  height: var(--doc-height);
  overflow: scroll;
  background-repeat: repeat-x;
  background-attachment: local;
}
.sticky-parent .sticky .content {
  width: calc(800vw + 100%);
  height: 100%;
  height: var(--doc-height);
}
.sticky-parent .sticky::-webkit-scrollbar {
  display: none;
}
.sticky-parent .building {
  background-size: auto 50%;
  background-position: 0% 60%;
}
.sticky-parent .bldg1 {
  background-image: url("../images/building1.png");
  z-index: 4;
}
.sticky-parent .bldg2 {
  background-image: url("../images/building2.png");
  z-index: 3;
}
.sticky-parent .bldg3 {
  background-image: url("../images/building3.png");
  z-index: 2;
}
.sticky-parent .path {
  background-image: url("../images/path.png");
  background-size: auto 20%;
  background-position: 0 100%;
  z-index: 50;
}
.sticky-parent .sky {
  position: fixed;
  width: 100%;
  height: 100%;
  height: var(--doc-height);
  background-size: auto 70%;
  z-index: 1;
}
.sticky-parent .bgMorning {
  background-image: url("../images/bgMorning.png");
}
.sticky-parent .bgNight {
  background-image: url("../images/bgNight.png");
}
.sticky-parent .cloud {
  position: fixed;
  background-size: 50% 30%;
  height: 100%;
  height: var(--doc-height);
  width: 200%;
  top: 0;
  z-index: 6;
  background-repeat: repeat-x;
  animation: cloudMovingAnimation 500s linear infinite;
}
.sticky-parent .cloudMorning {
  background-image: url("../images/cloudMorning.png");
}
.sticky-parent .cloudNight {
  background-image: url("../images/cloudNight.png");
}

@keyframes cloudMovingAnimation {
  100% {
    left: -100%;
  }
  0% {
    left: 0;
  }
}
.totalVw {
  z-index: 999;
}
.totalVw .vw {
  height: 100vh;
  width: 100vw;
  border: 1px dotted black;
  position: absolute;
  top: 0%;
  bottom: 0;
}
.totalVw .vw1 {
  left: 100vw;
}
.totalVw .vw2 {
  left: 200vw;
}
.totalVw .vw3 {
  left: 300vw;
}
.totalVw .vw4 {
  left: 400vw;
}
.totalVw .vw5 {
  left: 500vw;
}
.totalVw .vw6 {
  left: 600vw;
}
.totalVw .vw7 {
  left: 700vw;
}
.totalVw .vw8 {
  left: 800vw;
}
.totalVw .vw9 {
  left: 900vw;
}
.totalVw .vw10 {
  left: 1000vw;
}
.totalVw .vw11 {
  left: 1100vw;
}
.totalVw .vw12 {
  left: 1200vw;
}
.totalVw .vw13 {
  left: 1300vw;
}
.totalVw .vw14 {
  left: 1400vw;
}
.totalVw .vw15 {
  left: 1500vw;
}/*# sourceMappingURL=index.css.map */