*{
    padding: 0;
    margin: 0;
    font-family:'8-bit_arcade_inmedium';
    box-sizing: border-box;
    // touch-action: none;
}
:root {
    --doc-height: 100%;
}

// .scrollLeftLoc{
//     z-index: 99;
//     position: fixed;
//     top:10%;
// }

html,
body {
    max-height:100vh;
    min-height:100vh;
    height: var(--doc-height);
}
.swipeArea{
    visibility: hidden;
    z-index: 99;
    height: 100vh;
    height: var(--doc-height);
    width: 25vw;
    background-color: white;
    border-radius: 5%;
    position: fixed;
    left: 75vw;
    animation: blinker 1s infinite linear;
}

.avatar{
  position: fixed;
  top:62vh;
  left: 10vw;
  width: 20vh;
  height: 20vh;
  z-index: 999;
  
  .model{
      background-size: auto 20vh;
      background-repeat: repeat-x;
      background-attachment: local;
      width: 20vh;
      height: 20vh;
      
      &:hover{
          cursor: pointer;
      }
  }
  .left{
      transform: scaleX(-1);
  }
  .right{
      transform: scaleX(1);
  }
  .idle{
      background-image: url('../images/cat.gif');
  }
  .walking{
      background-image: url('../images/walkingCat.gif');
  }
  .meowning{
      background-image: url('../images/meow.gif');
  }
  .end{
    background-image: url('../images/meow.gif');
}
}


.nightMode{
  position: fixed;
  top: 10vh;
  left: 20vh;
  font-size:15vh;
  z-index: 4;

  
  .sun{
      color: yellow;
  }
  .moon{
      color: aliceblue;
  }
}



$totalWidth:10500px;

.sticky-parent{
    height: calc(($totalWidth * 3) + 100vh);

    .sticky{
        position: sticky;
        top: 0;
        bottom: 0;
        max-height: 100vh;
        max-height: var(--doc-height);
        height: 100vh;
        height: var(--doc-height);
        overflow: scroll;
        background-repeat: repeat-x;
        background-attachment: local;

        .content{
            width: calc($totalWidth  + 100vw);
            height: 100vh;
        }
        &::-webkit-scrollbar{
            display: none;
        }
    }
    .building{
        background-size: auto 50vh;
        background-position: 0% 60%;
    }
    .bldg1{
        background-image: url('../images/building1.png');
        z-index: 4;

    }
    .bldg2{
        background-image: url('../images/building2.png');
        z-index: 3;

    }
    .bldg3{
        background-image: url('../images/building3.png');
        z-index: 2;

    }


    // waling path--------------
    .path{
        background-image: url('../images/path.png');
        background-size: auto 20vh;
        background-position: 0  100% ;
        z-index: 50;
    }



    // sky------------
    .sky{
        position: fixed;
        width: 100vw;
        height: 100vh;
        height: var(--doc-height);
        background-size: auto 70vh;
        z-index: 1;
    }
    .bgMorning{
        background-image: url('../images/bgMorning.png');
    }
    .bgNight{
        background-image: url('../images/bgNight.png');
    }

    .cloud{
        position: fixed;
        background-size: 50vw 30vh;
        height: 100vh;
        height: var(--doc-height);
        width: 200vw;
        top: 0vh;
        z-index: 6;
        background-repeat: repeat-x;
        animation: cloudMovingAnimation 500s linear infinite;
    }
    .cloudMorning{
        background-image: url('../images/cloudMorning.png');
    }
    .cloudNight{
        background-image: url('../images/cloudNight.png');
    }


}




@keyframes cloudMovingAnimation {
  100%{
    left: -100vw;
  }
  0%{
    left: 0vw;
  }

}



