.textBox{
    background-image: url('../images/messageBox.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 5%;
    text-align: center;
    color: white;
    text-shadow: 1vh .5vh black;
}


.texts {
    z-index: 51;
    touch-action: none;
        .content{
            .welcome{
                width: 100vw;
                height: 100%;
                height: var(--doc-height);
                display: grid;
                gap: 0;
                justify-content: center;
                align-items: center;
                position: absolute;


                .intro{
                    margin-bottom: 20%;
                    .name{
                        font-size: 10vh;
                    }
                    p{
                        font-size: 5vh;

                        a{
                            color: white;
                        }
                    }


                }
                .instruction{
                    animation: blinker 1s linear infinite;
                    text-align: center;
                    color: white;
                    text-shadow: 1vh .5vh black;
                    font-size: 5vh;
                }
            }
            
            .about{
                left: calc(125vw) ;
                width: 100vw;
                height: 100%;
                height: var(--doc-height);
                display: grid;
                justify-content: center;
                align-items: center;
                position: absolute;

                .textBox{
                    margin-top: -15%;
                    width: 70vw;
                    text-align: left;
                    .indent{
                        text-indent: 5rem;
                    }
                    p{
                        font-size: 5vh;
                    }
                }
            }
          

            .project{
                position: absolute;
                width: 30vw;
                height: 70%;
                top: 20%;

                .title{
                    height: 50%;
                    margin: 8% 5%;
                    text-align: center;
                    display: grid;
                    justify-content: center;
                    align-items: center;

                    h2{
                        color: rgb(119, 119, 119);
                        text-shadow: .5vh .5vh black;
                        font-size: 4vh;
                    }
                    p{
                        font-size: 10vh;
                        color: white;
                        text-shadow: 1vh .5vh black;
                    }
                    a{
                        color: white;
                        text-shadow: 1vh .5vh black;
                        font-size: 5vh;
                        animation: blinker 1s linear infinite;
                    }
                }
            }
        }
}




// Billboard--------------

    .billboards{
        z-index: 40;
        .projects{
            height: 100%;
            height: var(--doc-height);

            .billboard{
                top: 20%;
                position: absolute;
                width: 30%;
                height: 70%;
                background-image: url('../images/billboard.png');
                background-size: 100% 100%;
            }

        }
   }

@for $i from 1 through 4{
    .billBoardProject#{$i}{
        left: calc(100vw + 420vw + 40% * $i);
    }
}
@for $i from 1 through 1{
    .billBoardProject2#{$i}{
        left: calc(100vw + 630vw + 40% * $i);
    }
}



@keyframes blinker {
    50% {
      opacity: 0;
    }
  }
